.et_pb_button {
  min-width: 20.5rem;
  @media screen and (max-width: 1100px) {
    letter-spacing: 2px !important;
  }
  @media screen and (max-width: 480px) {
    font-size: 1.8rem !important;
    width: 100%;
  }
  @media screen and (max-width: 375px) {
    font-size: 1.4rem !important;
    height: 5.4rem !important;
    line-height: 1.5 !important;
  }
  &:after {
    background: #fff;
    bottom: 0;
    content: '';
    display: block !important;
    height: 5px;
    margin: auto;
    opacity: 1;
    position: absolute;
    right: -19px;
    text-align: center;
    top: 0;
    width: 38px;
  }
}//.et_pb_button