.et_pb_button {
  min-width: 20.5rem;
  @media screen and (max-width: 1100px) {letter-spacing: 2px !important;}
  @media screen and (max-width: 480px) {
    font-size: 1.8rem !important;
    width: 100%;
  }
  @media screen and (max-width: 375px) {
    font-size: 1.4rem !important;
    height: 5.4rem !important;
    line-height: 1.5 !important;
  }
  &:after {
    background: #fff;
    bottom: 0;
    content: '';
    display: block !important;
    height: 5px;
    margin: auto;
    opacity: 1;
    position: absolute;
    right: -19px;
    text-align: center;
    top: 0;
    width: 38px;
  }
}//.et_pb_button

.button {
  @extend .et_pb_button;
  border: 2px solid #000;
  display: inline-block;
  height: 7.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 5px;
  line-height: 7.4rem;
  margin-top: 5.5rem;
  padding: 0 3rem;
  position: relative;
  &:after {background: $yellow;}
  &:hover {border-color: $yellow;}
  &.link {
    border: none;
    height: auto !important;
    line-height: normal;
    margin-top: 0;
    min-width: unset;
    padding: 0;
    &:after {
      height: 2px;
      transition: $default-transition;
      width: 1.9rem;
    }
    &:hover {
      color: $black;
      &:after {background: $black;}
    }
  }
}