h1,h2,h3,h4,h5,h6 {
  span {white-space: nowrap;}
}

h2.section-title {
  color: #fff;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.19;
  padding: 0;
  position: relative;
  @media screen and (max-width: 1290px) {
    font-size: 4.5rem;
  }
  @media screen and (max-width: 980px) {
    br {display: none;}
  }
  @media screen and (max-width: 767px) {
    font-size: 3.5rem;
    text-align: center;
  }
  &:before {
    background: #fff;
    bottom: 0;
    content: '';
    height: 7px;
    margin: auto;
    right: 100%;
    position: absolute;
    top: 0;
    transform: translateX(-5rem);
    width: 224px;
    @media screen and (max-width: 767px) {
      bottom: -1.5rem;
      left: 0;
      right: 0;
      top: auto;
      transform: none;
    }
  }
}//h2.section-title

.section-title-sm {
  color: #000;
  font-size: 5.6rem;
  font-weight: 500;
  padding-bottom: 5px;
  text-transform: none;
  @media screen and (max-width: 1024px) {font-size: 4.6rem;}
  @media screen and (max-width: 767px) {text-align: center;}
  @media screen and (max-width: 650px) {font-size: 4rem;}
  &:before {
    background: $yellow;
    bottom: 0;
    content: '';
    height: 5px;
    margin: auto;
    right: 100%;
    position: absolute;
    top: 0;
    transform: translateX(-5rem);
    width: 224px;
    @media screen and (max-width: 767px) {
      bottom: -1.5rem;
      left: 0;
      right: 0;
      top: auto;
      transform: none;
    }
  }
}//.section-title-sm

.slick-arrow {
  background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACsAAAAgCAMAAAC8RHExAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAA1VBMVEUAAAAdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwdHxwAAAC/bD4NAAAARXRSTlMAEEcixPpOzTXxRDf09kI+Su0tT/3rWybkJGYjadwcS6yw7BmT3XwgdYCDsgYDpbwBnL4Kl8HJD4jTEhV42W5g2qbpJTNzKuHUAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAALlJREFUOMuV08cOwkAMRVFTEggh9N57CYTee/P//xKeLRLKm7s+0siyh+hvgWCI0MJsmKiNMI6jluAYiO04s5MAccIRnNTAlg3ilKGBTcHpDIizOeY8igsKFzVwqQziCguugrgmuN4garba/nUU7pIsHaxHfdgOaDga++aqxydTZDRvJnQO0cVS6GoN0Y3QLU53e2gPBz16PEHUVfQM0YvQK07VzQDdcHrXONuHxnd48usNUvI+Pyv4AjprQHCbsEmwAAAAAElFTkSuQmCC") no-repeat center;
  background-size: contain;
  border: none;
  height: 3.2rem;
  opacity: .3;
  transition: $default-transition;
  width: 4.3rem;
  &:hover {opacity: 1;}
}
.slick-prev {
  transform: rotateZ(180deg);
}

.page-title {
  padding: 0 !important;
  @media screen and (min-width: 981px) {
    height: 235px;
  }

  .et_pb_row {
    height: 100%;
    padding: 0;
    .et_pb_column,
    .et_pb_module {
      height: 100%;
    }
    .et_pb_module {
      max-width: 1300px;
      margin: auto;
      width: 80%;
      @media screen and (min-width: 981px) {
        padding-top: 11.5rem;
      }
      @media screen and (max-width: 980px) {
        padding: 8rem 0 3rem;
      }
    }
  }

  .et_pb_post_title {
    @media screen and (min-width: 981px) {
      padding-top: 11.5rem;
    }
    @media screen and (max-width: 980px) {
      padding-bottom: 3rem !important;
    }
  }

  h1 {
    color: #fff;
    font-size: 5.6rem !important;
    font-weight: 700;
    @media screen and (max-width: 980px) {
      font-size: 4rem !important;
    }
  }
}//.page-title

.section-text {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.4;
  @media screen and (max-width: 580px) {
    font-size: 1.8rem;
  }
}//.section-text

.section-subscribe {
  background: #363636;
}