.section-header-text_about {
  background: lighten(#e0e0e1, 5%) url(assets/img/bg_about_hero_text.png) no-repeat right bottom;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.4;
  padding-bottom: 2rem !important;
  @media screen and (max-width: 580px) {
    font-size: 1.8rem;
  }
  .et_pb_column {
    ul {list-style: none;}
    li {
      margin-bottom: 1rem;
      padding-left: .5rem;
      position: relative;
      &:before {
        background: $yellow;
        border-radius: 50%;
        content: '';
        height: 7px;
        left: -1.5rem;
        position: absolute;
        top: 10px;
        width: 7px;
      }
    }
  }
  .et_pb_column:first-child {
    //font-size: 3rem;
    //font-weight: 400;
    //line-height: 1.16;
    @media screen and (max-width: 980px) {
      margin-bottom: 0;
      ul {padding-bottom: 0;}
    }
    @media screen and (max-width: 580px) {
      font-size: 2.2rem;
    }
  }//.et_pb_column:first-child

  + .section-text {
    background: url(assets/img/bg_about_text1.jpg) no-repeat right top;
  }
}//.section-header-text_about




.section-registration {
  background: $yellow;
  color: #050301;
  font-size: 3rem;
  line-height: normal;
  padding: 0 !important;
  @media screen and (min-width: 981px) {
    //min-height: 505px;
  }
  @media screen and (max-width: 1390px) {
    font-size: 2.5rem;
  }
  @media screen and (max-width: 1150px) and (min-width: 981px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 580px) {
    font-size: 1.8rem;
  }

  .et_pb_row {
    padding: 0 !important;
    @media screen and (min-width: 981px) {
      display: flex;
      justify-content: flex-end;
      max-width: 100%;
      width: 100%;
      &:after {content: none;}
    }
  }

  .et_pb_column:first-child {
    padding-bottom: 3rem;
    padding-top: 6.5rem;
    @media screen and (min-width: 981px) {
      max-width: 65rem;
      margin-right: 1%;
      margin-left: 10%;
      width: 40%;
    }
  }

  .date {
    color: #050301;
    font-size: 3.3rem;
    font-weight: 500;
    margin-bottom: 3rem;
    @media screen and (max-width: 1390px) {
      font-size: 2.8rem;
    }
    @media screen and (max-width: 1150px) and (min-width: 981px) {
      font-size: 2rem;
    }
    @media screen and (max-width: 580px) {
      font-size: 1.8rem;
    }
  }

  h4 {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    position: relative;
    @media screen and (max-width: 1390px) {
      font-size: 4rem;
    }
    @media screen and (max-width: 1150px) and (min-width: 981px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 5rem;
      text-align: center;
    }
    @media screen and (max-width: 580px) {
      font-size: 2.5rem;
    }
    &:before {
      background: #000;
      bottom: 0;
      content: '';
      height: 7px;
      margin: auto;
      right: 100%;
      position: absolute;
      top: 0;
      transform: translateX(-5rem);
      width: 224px;
      @media screen and (max-width: 767px) {
        bottom: -1.5rem;
        left: 0;
        right: 0;
        top: auto;
        transform: none;
      }
    }
  }//h4

  .et_pb_button_module_wrapper {
    margin-top: 4.5rem;
  }
  .et_pb_button {
    color: #fff !important;
    font-weight: 500;
    height: 7.5rem;
    line-height: 6rem !important;
    max-width: 45.5rem;
    text-align: center;
    width: 100%;
    @media screen and (max-width: 580px) {
      height: 6.5rem;
      line-height: 5rem !important;
    }
    &:hover {
      border-color: #fff !important;
      color: #fff !important;
    }
  }


  .et_pb_column:last-child {

    @media screen and (min-width: 981px) {
      min-width: 58rem;
      width: 49%;
    }
    @media screen and (max-width: 768px) {
      min-width: unset !important;
    }
    .et_pb_image {
      height: 100%;
    }
    .et_pb_image_wrap {
      display: block;
      height: 100%;
    }
    img {
      object-fit: cover;
      height: 100%;
      max-height: 50.5rem;
      width: 100%;
      @media screen and (max-width: 1490px) and (min-width: 981px) {
        object-position: 18%;
      }
    }
  }//..et_pb_column:last-child

  + .section-text {
    background: url(assets/img/bg_about_text2.jpg) no-repeat left top;
    padding: 4.5rem 0 5.5rem !important;
  }
}//.section-registration