.blog {
  .page-title {background-image: url(assets/img/bg_page_title.jpg);}
}


.section-blog {
  background-image: url(assets/img/bg_resources1.jpg),
                    url(assets/img/bg_resources2.jpg);
  background-position: right top, left bottom -35rem;
  background-size: initial;
  background-repeat: no-repeat;
  min-height: 80rem;
  @media screen and (min-width: 981px) {
    padding-top: 6.5rem !important;
  }

  .et_pb_post.blog {
    color: #000;
    display: flex;
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 1.42;
    margin-bottom: 5rem;
    @media screen and (max-width: 767px) {
      font-size: 1.6rem;
      font-weight: 400;
    }
    @media screen and (max-width: 630px) {
      flex-direction: column;
    }

    .date {
      align-items: center;
      background: $yellow;
      background-size: 3.8rem 5rem;
      color: #fff;
      display: flex;
      flex-direction: column;
      font-size: 1.67rem;
      font-weight: 500;
      justify-content: center;
      height: 11.9rem;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;
      width: 11.9rem;
      @media screen and (max-width: 1200px) {
        height: 9rem;
        font-size: 1.4rem;
        width: 9rem;
      }
      &.grey {background: #a8a9ad;}
      span {
        display: block;
        font-size: 4.9rem;
        line-height: 1;
      }
    }//.date

    .post-info {
      background: #fff;
      box-shadow: 15px 0 51px rgba(34,30,31, .21);
      flex: 1;
      padding: 4.5rem 4.5% 6rem;
      @media screen and (max-width: 767px) {
        padding-bottom: 3rem;
        padding-top: 3rem;
      }
    }//.post-info

    .post-meta {
      color: #7d7d7d;
      font-size: 1.6rem;
      margin-bottom: 1.5rem;
      .post-categories {
        display: inline-block;
        a {
          color: inherit;
          text-decoration: underline;
          &:hover {text-decoration: none;}
        }
      }
    }//.post-meta

    .entry-title {
      color: #000;
      font-size: 2.7rem;
      font-weight: 700;
      margin-bottom: 2.5rem;
      text-transform: none;
      @media screen and (max-width: 767px) {font-size: 2rem;}
      &:hover {color: $yellow;}
    }//.entry-title

    .button {
      font-size: 1.6rem;
      font-weight: 500;
      padding-right: 4rem;
      margin-top: 1.5rem;
      text-transform: uppercase;
      width: auto !important;
      @media screen and (max-width: 767px) {font-size: 1.4rem;}
      &:after {right: 0;}
    }

  }//.et_pb_post.blog

}//.section-blog