.section-membership {
  background-position: bottom -135px right -95px !important;
  @media screen and (min-width: 981px) {
    padding-bottom: 7rem !important;
    padding-top: 6.5rem !important;
  }
  @media screen and (max-width: 768px) {
    padding-top: 1.5rem !important;
  }

}//.section-membership


#tabs {
  border-bottom: 2px solid $yellow;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
  padding-top: 0;
  width: 85%;
  @media screen and (max-width: 1024px) {width: 90%;}
  @media screen and (max-width: 768px) {width: 95%;}

  .et_pb_column {
    margin-right: 1%;
    margin-bottom: 0;
    width: 33%;
    &:hover {
      background: #eee;
    }
  }
  .et_pb_text {
    height: 100%;
    padding: 8rem 10% 3rem;
    transition: $default-transition;
    @media screen and (max-width: 1450px) {padding: 5rem 7% 3rem;}
    @media screen and (max-width: 768px) {text-align: center;}
    @media screen and (max-width: 600px) {padding: 3rem 5% 3rem;}
    @media screen and (max-width: 500px) {padding: 2rem 5% 2rem;}
    //&:hover {background: $yellow;}

    &.active {
      background: $yellow;
      h4 {text-decoration: none;}
      h5 {color: #fff;}
      .price {color: #fff;}
      a {
        opacity: 1;
        visibility: visible;
      }
    }//&.active

    h4 {
      color: #000;
      font-size: 4.3rem;
      font-weight: 700;
      line-height: 1.04;
      text-decoration: underline;
      text-transform: none;
      @media screen and (max-width: 1450px) {font-size: 3.5rem;}
      @media screen and (max-width: 1200px) {font-size: 2.5rem;}
      @media screen and (max-width: 650px) {font-size: 2rem;}
      @media screen and (max-width: 480px) {font-size: 1.7rem;}
    }
    h5 {
      color: $yellow;
      font-size: 2.2rem;
      font-weight: 700;
      margin-top: 1rem;
      text-transform: none;
      @media screen and (max-width: 1450px) {font-size: 1.8rem;}
      @media screen and (max-width: 1200px) {font-size: 1.6rem;}
      @media screen and (max-width: 650px) {font-size: 1.5rem;}
      @media screen and (max-width: 480px) {font-size: 1.4rem;}
    }
    .price {
      color: $yellow;
      font-size: 4.3rem;
      font-weight: 700;
      margin-top: 4rem;
      padding-bottom: 4.5rem;
      @media screen and (max-width: 1450px) {font-size: 3.5rem;}
      @media screen and (max-width: 1200px) {font-size: 2.5rem;}
      @media screen and (max-width: 768px) {
        margin-top: 2rem;
        padding-bottom: 2.5rem;
      }
      @media screen and (max-width: 650px) {font-size: 2rem;}
      @media screen and (max-width: 480px) {font-size: 1.7rem;}
      small {
        font-size: 1.8rem;
        font-weight: 500;
        @media screen and (max-width: 768px) {
          display: block;
          margin-top: 1rem;
          font-size: 1.6rem;
        }
        @media screen and (max-width: 480px) {font-size: 1.4rem;}
      }
    }//.price
    a {
      color: #fff;
      display: inline-block;
      font-size: 1.6rem;
      font-weight: 500;
      letter-spacing: 3px;
      position: relative;
      opacity: 0;
      text-transform: uppercase;
      visibility: hidden;
      @media screen and (max-width: 1450px) {
        font-size: 1.5rem;
        letter-spacing: 2px;
      }
      @media screen and (max-width: 1200px) {
        font-size: 1.4rem;
        letter-spacing: 2px;
      }
      @media screen and (max-width: 480px) {
        font-size: 1.2rem;
        letter-spacing: 1px;
      }
      &:hover {
        color: $black;
        &:after {background: $black;}
      }
      &:after {
        background: #fff;
        bottom: 0;
        content: '';
        height: 2px;
        margin: auto;
        position: absolute;
        right: -4rem;
        top: 0;
        transition: all 0.2s linear;
        width: 20px;
        @media screen and (max-width: 900px) {
          content: none;
        }
        @media screen and (max-width: 480px) {
          right: -2rem;
          width: 15px;
        }
      }
    }//a
  }//.et_pb_text

}//#tabs

#tabs-content {
  min-height: 65rem;
  padding-bottom: 5px;
  padding-top: 6.2rem;

  .et_pb_module {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 300;
    &:not(.active) {
      display: none;
    }
    strong {
      display: block;
      font-size: 2.6rem;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 1.6rem;
      margin-top: 3.3rem;
    }
    ul {
      font-size: 1.8rem;
      line-height: 1.33;
      li {
        list-style: none;
        margin-bottom: 1rem;
        padding-left: 1.2rem;
        position: relative;
        &:before {
          background: $yellow;
          border-radius: 50%;
          content: '';
          height: 7px;
          left: -1.5rem;
          position: absolute;
          top: 7px;
          width: 7px;
        }
      }
    }
  }//.et_pb_module

}//#tabs-content




.section-membership-form {
  align-items: center;
  background: rgba(0,0,0,.85);
  bottom: 0;
  justify-content: center;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
  display: none;
  &.show {
    display: flex;
  }

  .et-pb-contact-message {
    background: #fff;
    color: red;
    padding: 0 10.5%;
    p:first-child:last-child {
      color: green;
      padding-bottom: 30px;
      font-size: 20px;
    }
  }

  .et_pb_row .et_pb_column {
    float: none;
    max-width: 52.5rem;
    margin: auto !important;
  }

  .et_pb_blurb {
    position: absolute;
    right: 0;
    top: 0;
    .et-pb-icon {
      color: $black;
      cursor: pointer;
      font-size: 5rem;
    }
  }
}//.section-membership-form

#form-membership {
  max-width: 52.5rem;
  margin: auto;
  //opacity: 1 !important;
  width: 100%;

  .et_pb_contact_main_title {
    background: #fff;
    color: #000;
    font-size: 3.1rem;
    padding: 6rem 10.5% 3.5rem;
    text-transform: none;
  }
  .et_pb_contact {
    background: $yellow;
    padding: 3rem 10.5% 6rem;
  }

  .input {
    background: none;
    border-bottom: 2px solid #fff;
    //box-shadow: inset 0 39px $yellow;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 1rem;
    padding: 7px 5px;
    @include placeholder {color: #fff;}
    &.et_pb_contact_message {min-height: 9rem;}
  }//.input

  .et_contact_bottom_container {
    float: none;
    margin: 3rem 0 0;
    padding-left: 3%;
    text-align: center;
    .et_pb_button {
      margin: 0;
      width: 100%;
      &:after {background: #000;}
      &:hover {
        color: #fff !important;
        border-color: #fff !important;
        &:after {background: #fff;}
      }
    }
  }//.et_contact_bottom_container






}//#form-membership
























